@import 'tailwind.css';
@import 'fonts.css';

.content-height {
    height: 100vh;
    @apply 3xl:min-h-3xl 2xl:min-h-2xl xl:min-h-xl lg:min-h-lg
}

@media (orientation: portrait) and (min-height: 1025px){
    .content-height {
        height: 760px;
    }
}